header {
  text-align: center;
  background-color: rgb(52, 52, 145);
  padding: 1em 0.8em;
  color: $knockout-color;

  & .hidden {
    display: $hidden;
  }

  h2 {
    font-size: 2.5em;
    margin-bottom: 0.8em;
  }

  .link {
    margin: 0 10px 0 0;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #4442b9;
}
